@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.topnav{
    overflow: hidden;
    background: #000;
}

.topnav a{
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: .3s;
}

#myForm{
    float: right;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}

#toggleMode{
    padding: 4px;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

#toggleMode:hover{
    background: #fff;
    color: #000;
}

.topnav a:not(:first-child):hover{
    opacity: 0.7;
}

.topnav .icon{
    display: none;
    color: #fff!important;
}

#container{
    margin-top: 250px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-weight: bolder;
    border-radius: 8px;
}

#container p{
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .topnav #myForm{
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a, .topnav.responsive #myForm{
        float: none;
        display: block;
        text-align: left;
    }
}